{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Member Statuses{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Member Statuses{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('member_status_new') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus fa-fw"></i> New Member Status</a>
{% endblock %}
{% endembed %}

{% include 'admin/_nav.html.twig' %}

  {% set columns = [
    {name: 'code', route: 'member_status_show'},
    'label',
    {name: 'members', title: '#members'},
    {name: 'actions'},
  ] %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="table-responsive">
  <twig:grid :data="member_statuses" :columns="columns" rowAlias="member_status">
    <twig:block name="actions">
{#      {{ member_status|default(null)|json_encode }}#}
{#      {{ row|json_encode }}#}
{#      <a href="{{ path('member_status_edit', member_status.rp) }}"><i class="fas fa-edit fa-fw"></i>member_status</a>#}
      <a href="{{ path('member_status_edit', row.rp) }}"><i class="fas fa-edit fa-fw"></i>row</a>
    </twig:block>

  </twig:grid>
    </div>
  </div>
</div>

{% if member_statuses %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Code</th>
            <th>Label</th>
            <th><i class="fas fa-users fa-fw"></i></th>
            <th class="col-edit">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {% for member_status in member_statuses %}
        <tr class="{{ member_status.isInactive ? 'inactive' : '' }}" role="row">
          <td><a href="{{ path('member_status_show', member_status.rp) }}">{{ member_status.code }}</a></td>
          <td>{{ member_status.label }}</td>
          <td>{{ member_status.members|length|default('0') }}</td>
          <td>
              <a href="{{ path('member_status_edit', member_status.rp) }}"><i class="fas fa-edit fa-fw"></i></a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No Member Statuses matched your criteria.'} %}
{% endif %}
{% endblock %}
